body {
  font-family: "graphik_lcg";
  color: #000;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container_column {
  flex-direction: column;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
a {
  color: #000;
}
.btn {
  font: 600 16px / calc(60 / 16) "graphik_lcg";
  color: #fff;
}
.btn:hover{
  background: #a14a32;
}
.btn_white {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
h3 {
  margin: 0;
  font: 600 50px / calc(60 / 50) "graphik_lcg";
}
p {
  margin: 0;
  font: 400 20px / calc(30 / 20) "graphik_lcg";
}
p > a {
  display: inline;
  color: #000;
  font: 400 20px / calc(30 / 20) "graphik_lcg";
  text-decoration: underline;
}
p > a:hover{
  color: #ff6336;
}
header {
  font: 400 15px / calc(20 / 15) "graphik_lcg";
  border-bottom: 1px solid #000;
}
header .container {
  align-items: center;
  max-width: 1340px;
}
.logo_block {
  margin: 0 50px 0 0;
}
header nav {
  flex-grow: 1;
}
header li {
  margin: 0 54px 0 0;
}
header .btn {
  margin: 25px 0;
  line-height: 45px;
}
header .btn:nth-child(1) {
  padding: 0 34px;
  margin-right: 9px;
}
header .btn:nth-child(2) {
  background: #ff6336;
  padding: 0 22px;
}
header .btn:nth-child(2):hover {
  background: #a14a32;
  padding: 0 22px;
}
/* main */
/* first block */
main {
  flex-grow: 1;
}
.first_block {
  padding: 120px 0 172px 0;
}
.first_block_info {
  max-width: 538px;
}
h2 {
  margin: 0;
  font: 600 65px / calc(70 / 65) "graphik_lcg";
}
.first_block p {
  max-width: 471px;
  font: 400 25px / calc(35 / 25) "graphik_lcg";
  margin: 54px 0 51px 0;
}
.block_btn {
  margin-bottom: 25px;
}
.first_block a:nth-child(1) {
  padding: 0 41px;
  background: #ff6336;
  margin-right: 10px;
}
.first_block a:nth-child(1):hover{
  background: #a14a32;
}
.first_block a:nth-child(2) {
  padding: 0 28px;
}
.first_block span {
  font: 400 15px / calc(25 / 15) "graphik_lcg";
}
.first_block_image {
  margin: 28px 0 0 0;
}
/* second block */
.second_block {
  padding: 103px 0 107px 0;
  background: #ff9c7d;
}
.named {
  margin: 0 auto;
  text-align: center;
}
.second_block .named {
  width: 649px;
}
.second_block ul {
  justify-content: space-between;
  margin: 71px 24px 0 24px;
}
.second_block li {
  display: flex;
  align-items: center;
}
/* description block */
.description_block {
  padding: 90px 0 160px 0;
}
.description_block .container {
  align-items: center;
}
.description_block:nth-child(even) .container {
  flex-direction: row-reverse;
}
.description_block_info {
  max-width: 520px;
}
.description_block_info p {
  margin: 30px 0;
}
.description_block_info .start {
  font: 600 20px / calc(30 / 20) "graphik_lcg";
}
/* options block */
.options_block {
  background: #fff8e4;
  padding: 104px 0 147px 0;
}
.menu_options {
  padding: 30px 0 0 0;
  margin: 0 -19px;
}
.options_block li {
  width: calc(100% / 3);
  padding: 56px 60px 0 60px;
  display: flex;
}
.options_block h4 {
  margin: 21px 0;
  font: 600 25px / calc(35 / 25) "graphik_lcg";
  text-align: center;
}
.options_block p {
  font: 400 18px / calc(25 / 18) "graphik_lcg";
  text-align: center;
}
.options_block p a {
  font: 400 18px / calc(25 / 18) "graphik_lcg";
}
.img_card {
  text-align: center;
}
/* specialization block */
.specialization_block {
  padding: 154px 0 187px 0;
}
.specialization_block h3 {
  margin: 0 0 87px 0;
}
.specialization_menu {
  display: flex;
  margin: 0 -15px;
}
.specialization_menu li {
  width: calc(100% / 3);
  padding: 0 15px;
}
.photo_card {
  margin: 0 0 37px 0;
  min-height: 201px;
}
.specialization_block h4 {
  margin: 0 0 33px 0;
  font: 600 30px / calc(40 / 30) "graphik_lcg";
}
.specialization_block a {
  margin: 25px 0 0 0;
  font: 400 20px / calc(30 / 20) "graphik_lcg";
  text-decoration: underline;
}
/* quote block */
.quote_block {
  padding: 53px 0 108px 0;
  background: #c9e8f2;
}
.quote {
  max-width: 920px;
}
blockquote {
  margin: 10px 0 23px 0;
  font: 400 30px / calc(40 / 30) "graphik_lcg";
}
.author {
  font: 400 15px / calc(25 / 15) "graphik_lcg";
  margin-bottom: 7px;
}
/* software block */
.software_block {
  padding: 80px 0 84px 0;
  background: #dabc98;
}
.software_block .container {
  max-width: 1340px;
  align-items: center;
  justify-content: left;
}
.software_block h4 {
  font: 600 35px / calc(50 / 35) "graphik_lcg";
  letter-spacing: 0em;
  max-width: 461px;
  margin: 0 124px 0 72px;
}
.rated_block_big {
  display: flex;
  min-height: 168px;
  border-left: 1px solid black;
  padding: 0 87px 0 70px;
  align-items: center;
}
.rated_block:nth-child(1) {
  margin-right: 69px;
}
/* integrate block */
.integrate_block {
  text-align: center;
  padding: 155px 0 163px 0;
}
.integrate_block .container,
.localization_block .container {
  align-items: center;
}
.h2_style {
  font: 600 65px / calc(75 / 65) "graphik_lcg";
  letter-spacing: 0em;
  max-width: 791px;
}
.integrate_block p {
  font: 400 25px / calc(30 / 25) "graphik_lcg";
  max-width: 539px;
  margin: 5px 0 25px 0;
}
.integrate_block a {
  background: #ff6336;
  padding: 0 20px;
  margin-top: 35px;
}
/* localization block */
.localization_block {
  padding: 113px 0 161px 0;
  text-align: center;
  background: #ff9c7d;
}
.localization_block p {
  margin: 31px 0 56px 0;
}
.localization_block .btn {
  background: #000;
  padding: 0 40px;
  font-size: 17px;
}
/* footer */
footer {
  background: #eeeeee;
}
.footer_top {
  padding: 92px 0 97px 0;
  display: flex;
  border-bottom: 1px solid black;
}
.case_block_footer {
  max-width: 300px;
  margin-right: 140px;
}
.footer_top h3 {
  font: 600 40px / calc(50 / 40) "graphik_lcg";
  margin: -4px 0 28px 0;
}
.case_logo_img {
  margin: 31px 0 11px 0;
}
.case_block_footer a {
  font: 600 20px / calc(30 / 20) "graphik_lcg";
  margin-top: 15px;
}
.footer_top ul {
  flex-direction: column;
}
.footer_top h4 {
  font: 600 20px / calc(25 / 20) "graphik_lcg";
  margin: 0 0 12px 0;
}
.footer_top li {
  font: 400 15px "graphik_lcg";
  padding: 5.5px 0;
}
.product_block_footer {
  margin-right: 115px;
}
.support_block_footer {
  margin-right: 51px;
}
.company_block_footer {
  margin-right: 62px;
}
/* fotter bottom */
.fotter_bottom {
  padding: 47px 0 48px 0;
  display: flex;
  align-items: center;
}
.logo_footer {
  margin-right: 14px;
}
footer span {
  display: block;
  font: 400 12px / calc(15 / 12) "graphik_lcg";
}
footer span:nth-of-type(1) {
  max-width: 363px;
  margin-right: 639px;
}
footer li:hover{
  background: #bcb7b7;
}